@font-face {
  font-family: Roboto;
  src: url(./Roboto/Roboto-MediumItalic.ttf);
}

body {
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    background-color: rgb(199, 237, 224);
    text-align: center;
}

.calculator-panel {
    border: 15px solid rgb(99, 46, 46);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
    margin-top: 80px;
    background-color: rgba(47,47,47,1);
}

#display-screen {
    grid-column: 1 / -1;
    background-color: #e9c097;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5rem;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

.button {
    margin: 1px;
    border-radius: 10%;
    font-size: 2rem;
    color: black;
}

.zero {
    grid-column: span 2; 
    /* making the 0 button double in size */
}

/* Buttons' background colors (start) */

.clear {
    background-color: rgb(42, 129, 235);
} 

.operand {
    background-color: #e6c6c3;
}

.operator,
.modulo,
.exp {
    background-color: rgb(176, 221, 132);
}

.decimal,
.equals {
    background-color: #f5e18f;
}

/* Buttons' background colors (end) */

/* Buttons' background colors on hover and active (start) */
button:hover {
    cursor: pointer;
}

.clear:hover {
    background-color: rgb(42, 209, 235);
} 

.operand:hover {
    background-color: #d33729;
}

.operator:hover, 
.operator:focus,
.modulo:hover, 
.exp:hover,
.modulo:focus,
.exp:focus {
    background-color: rgb(79, 153, 6);
}

.decimal:hover,
.decimal:focus,
.equals:hover {
    background-color: #c7a108;
}


/* Buttons' background colors on hover and active (end) */



